.container{
    display: flex;
    flex-direction: row;
    width: 80px;
    height: 80px;
}
.hey{
    width: 80px;
    height: 80px;
    background-color: rgb(111, 0, 255);
    border-style: solid;
    border-width: thin;
    border-right-width: 0px;

}
.containerA {
    width: 40px;
    height: 80px;
    border-style: solid;
    border-width: thin;
background-color: brown;

}
.containerB {
    width: 40px;
    height: 80px;
    border-style: solid;
    border-width: thin;
    border-left-width: 0px;
    background-color: rgb(245, 236, 220);  
} 
